/* Add some basic styling to the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.card{
  text-align: center !important;
  padding:2% !important;
  width: 75% !important;
}
h1{
  font-size: 3rem !important;
}
label , span{
  font-size: 2rem !important;
}
.form-text{
  padding: 1rem 0 !important;
  font-size: 1.8rem !important;

}
input{
  font-size: 1.6rem !important;

} 
.btn-success{
  font-size: 2rem !important;
}
